<!DOCTYPE html>
<html>

    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>

    <body>
        <h1><%= title %></h1>
        <p>Welcome to <%= title %></p>
        <form action="/second" method="POST">
            <label for="x">x: </label>
            <input type="text" id="x" name="x"><br>
            <label for="y">y: </label>
            <input type="text" id="y" name="y"><br>
            <label for="z">z: </label>
            <input type="text" id="z" name="z"><br>
            <label for="vx">vx:</label>
            <input type="text" id="vx" name="vx"><br>
            <label for="vy">vy:</label>
            <input type="text" id="vy" name="vy"><br>
            <label for="vz">vz:</label>
            <input type="text" id="vz" name="vz"><br>
            <label for="bx">bx:</label>
            <input type="text" id="bx" name="bx"><br>
            <label for="by">by:</label>
            <input type="text" id="by" name="by"><br>
            <label for="bz">bz:</label>
            <input type="text" id="bz" name="bz"><br>
            <label for="ex">ex:</label>
            <input type="text" id="ex" name="ex"><br>
            <label for="ey">ey:</label>
            <input type="text" id`="ey" name="ey"><br>
            <label for="ez">ez:</label>
            <input type="text" id="ez" name="ez"><br>
            <label for="q">q: </label>
            <input type="text" id="q" name="q"><br>
            <button type="submit">Submit</button>
        </form>
    </body>

</html>