<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <div class="ui container">
      <h1><%= title %></h1>
      <p>Fill out the parameters and hit submit</p>
      <form class="ui form" action="/second" method="POST">
        <div class="required inline fields">
          <div class="three wide field">
            <label>Initial Position</label>
          </div>
          <div class="two wide field">
            <input type="text" id="x" name="x" placeholder="x" required />
          </div>
          <div class="two wide field">
            <input type="text" id="y" name="y" placeholder="y" />
          </div>
          <div class="two wide field">
            <input type="text" id="z" name="z" placeholder="z" />
          </div>
        </div>
        <div class="required inline fields">
          <div class="three wide field">
            <label>Initial Velocity</label>
          </div>
          <div class="two wide field">
            <input type="text" id="vx" name="vx" placeholder="vx" />
          </div>
          <div class="two wide field">
            <input type="text" id="vy" name="vy" placeholder="vy" />
          </div>
          <div class="two wide field">
            <input type="text" id="vz" name="vz" placeholder="vz" />
          </div>
        </div>
        <div class="required inline fields">
          <div class="three wide field">
            <label>Direction of E Field</label>
          </div>
          <div class="two wide field">
            <input type="text" id="ex" name="ex" placeholder="ex" />
          </div>
          <div class="two wide field">
            <input type="text" id="ey" name="ey" placeholder="ey" />
          </div>
          <div class="two wide field">
            <input type="text" id="ez" name="ez" placeholder="ez" />
          </div>
        </div>
        <div class="required inline fields">
          <div class="three wide field">
            <label>Direction of B Field</label>
          </div>
          <div class="two wide field">
            <input type="text" id="bx" name="bx" placeholder="bx" />
          </div>
          <div class="two wide field">
            <input type="text" id="by" name="by" placeholder="by" />
          </div>
          <div class="two wide field">
            <input type="text" id="bz" name="bz" placeholder="bz" />
          </div>
        </div>
        <div class="required inline fields">
          <div class="three wide field">
            <label>Charge of Particle</label>
          </div>
          <div class="two wide field">
            <input type="text" id="q" name="q" placeholder="q" />
          </div>
        </div>
        <div class="inline fields">
          <div class="two wide field">
            <button class="ui positive button" type="submit">Submit</button>
          </div>
          <div class="two wide field">
            <a class="ui button" href="/">Back</a>
          </div>
        </div>
      </form>
    </div>
  </body>
</html>
