<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>For the first python program, click <a href="/first">here</a></p>
    <p>For the second python program, click <a href="/second">here</a></p>
</body>
</html>