<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <div class="centered ui container">
      <h1><%= title %></h1>
    </div>
    <div class="centered ui container" id="first">
      <a href="/first" class="ui primary button">Brillouin Flow Model</a>
    </div>
    <div class="centered ui container" id="second">
      <a href="/second" class="ui primary button">Charged Particle Model</a>
    </div>
  </body>
</html>
