body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

.centered {
  align-items: center;
  margin: 10px 50%;
  padding: 5px;
  text-align: center;
}

.plot {
  /* padding: 10px; */
  border: 2px solid black;
}

#first {
  margin-top: 5.5em;
}

h1 {
  font-size: 4rem;
}
